---
layout: 'base.njk'
---

<article class="section">
<div class="container content">

    <h1 class="title is-2 has-text-centered">
      {{title}}
    </h1>
    <figure class="m-0">
      <img  class="article-image" src="{{image}}" alt="{{imageAlt}}">
      <figcaption>
        {{imageAlt}}
      </figcaption>
    </figure>
    {{content | safe}}
  
</div>
</article>
   