<footer class="footer foot-back">
  <div class="container">
  <div class="columns has-text-centered">

    <div class="column">
    <img src="/assets/logo.svg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. sed do eiusmod tempor incididunt</p>
  </div>

  <div class="column">
  <p class="title is-5 white-color">Contact Us</p>
  <p>123 auckland street, Vancouver, Canada</p>
  <p>Phone: 555 674 9045</p>
  <p>Email: Design@designer.com</p>
  </div>

  <div class="column">
  <p class="title is-5 mb-2 white-color">Find us on social media.</p>
  <a class= "icon is-medium" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
  <a class= "icon is-medium" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
  <a class= "icon is-medium" href="https://ca.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
  <a class= "icon is-medium" href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
  <a class= "icon is-medium" href="https://www.tumblr.com/explore/trending?source=homepage_explore"><ion-icon name="logo-tumblr"></ion-icon></a>
  <p>© 2020 Company Name. All rights reserved.</p>
  </div>
  </div>
  </div>
</footer>