<header>
   <nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu hover" id="nav-links">
            <div class="navbar-end pr-3 is-size-5">
                <a href="./Index.html" class="navbar-item">
                    Home
                </a>

                <a href="./projects.html" class="navbar-item">
                    Projects
                </a>

                <a href="./projects.html" class="navbar-item">
                    Blogs
                </a>

                <a href="./contact.html" class="navbar-item">
                    Contact Us
                </a>

                <a href="./meet-team.html" class="navbar-item">
                    Our Team
                </a>
            </div>
        </div>
    </nav>


</header>