<header>
   <nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item ml-3" href="https://melodic-basbousa-99dd7e.netlify.app/">
                <img class="logoHead" src=".src/assets/logo.png" width="112" height="48">
            </a>

            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu hover" id="nav-links">
            <div class="navbar-end pr-3 is-size-5">
                <a href="https://melodic-basbousa-99dd7e.netlify.app/" class="navbar-item">
                    Home
                </a>

                <a href="https://melodic-basbousa-99dd7e.netlify.app/projects.html" class="navbar-item">
                    Projects
                </a>

                <a href="https://classy-genie-9d044d.netlify.app/blog/" class="navbar-item">
                    Blogs
                </a>

                <a href="https://melodic-basbousa-99dd7e.netlify.app/contact.html" class="navbar-item">
                    Contact Us
                </a>

                <a href="https://melodic-basbousa-99dd7e.netlify.app/meet-team.html" class="navbar-item">
                    Our Team
                </a>
            </div>
        </div>
    </nav>


</header>