---
title: blog
layout: 'base.njk'
---


       
<div class="section">
  <div class="container">
    <div class = "columns">
       <div class = "column is-1"></div>
      <div class = "column">
        <h1 class="title is-2 pb-2 is-underlined">Recent articles</h1>
      </div>
    </div>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post -%}
      {% include 'article-snippet.njk' %}
    {%- endfor %}
  </ul>
 </div>
</div>




