---
tittle: My home page
layout: 'base.njk'
---

<main>


  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <ul role="list" class="articles__list flow">
       {%- for post in collections.featured -%}
        {% include "article-snippet.njk" %}
       {%- endfor %}
      </ul>
    </div>
  </section>
</main>
